/* Transform skew */
body {
    padding: 0;
    margin: 20px;
    font-family: sans-serif;
    font-size: 20px;
    border: 2px solid black;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.container {
    border: 2px solid black;
    margin: 10px;
    transform-style: preserve-3d;
}
.container:hover .cuadrado {
    /* transform: skew(20deg); */
    transform: skew(20deg, 15deg);
    background-color: gold;
}
.cuadrado {
    width: 16vw;
    height: 20vh;
    background-color: greenyellow;
    color: teal;
    margin: 20px;
    transition: .3s;
}