/* Transform */
body {
    padding: 0;
    margin: 20px;
    font-family: sans-serif;
    font-size: 20px;
    border: 2px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.container {
    border: 2px solid black;
}
.container:hover .cuadrado {
    /* transform: rotatey(45deg); */
    /* transform: rotate(-45deg); */

    /* transform: rotatex(45deg); */
    /* transform: rotatez(45deg); */
    
    /* transform: rotateX(20deg) rotateY(30deg) rotateZ(45deg); */
    /* transform: rotate3d(x ,y ,z , rotate); */
    transform: rotate3d(1, 1, 0, 40deg);
}

.cuadrado {
    width: 16vw;
    height: 20vh;
    background-color: thistle;
    color: teal;
    margin: 20px;
    transition: .3s;
}