/* Transform */
body {
    padding: 0;
    margin: 20px;
    font-size: 20px;
    border: 2px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__pelotas {
    border: 1px gray solid;
    width: 80%;
    height: 18%;
    display: flex;
    align-items: center;
    position: relative;
    transform: rotate(15deg) skew(25deg) translate(50px) scale(.6);
}

.pelota {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-duration: 2s;
    position: absolute;
    margin: 0 10px;
    font-family: sans-serif;
    font-size: 1rem;
    color: whitesmoke;
}

.pelota.a {
    background-color: tomato;
    left: 0;
}

.pelota.b {
    background-color: steelblue;
    right: 0;
}

.container__pelotas:hover .pelota.a {
    width: 120px;
    height: 120px;
    left: calc(50% - 120px);
    background-color: steelblue;
    margin: 0;
} 
.container__pelotas:hover .pelota.b {
    width: 120px;
    height: 120px;
    right: calc(50% - 120px);
    background-color: tomato;
    margin: 0;
} 


/*NOTES:
Transition-property: width;
Transition-duration: .4s, 4000ms;
Transition-delay: 2s;
Transition-timing-function: ease;

sintaxis resumida: transition: width .4s 2s ease;

Ahora con CSS3 se pueden hacer calculos con el atributo calc.
    width: 120px;
    height: 120px;
   /// right: calc(50% - 120px);

NUEVA PROPIEDAD: Transform
    transform: rotar | sesgar | posicion | tamaño